* {
  margin: 0px;
}
/* header css */
header {
  background-color: #7600bc;
  color: white;
  font-family: sans-serif;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: sticky;*/
  top: 0;
  border: 4px solid darkcyan;
}
.contact-details p {
  font-style: italic;
  display: inline;
}
.contact-details img {
  width: 25px;
}
/* Navigation css */

.topmenu {
  color: rgb(241, 231, 231);
  text-decoration: none;
  font-size: 24px;
  margin-right: 30px;
  transition: all;
  transition-duration: 0.5s;
}

.topmenu:hover {
  font-size: 28px;
  text-decoration: underline;
  font-weight: bold;
  color: skyblue;
}
/*.topmenu {
  display: none;
  flex-direction: column;
  background: black;
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
}
.nav.dropdown {
  display: flex;
}
.ham {
  font-size: 30px;
  cursor: pointer;
  color: black;
  /*display: none;
}*/
.nav {
  display: flex;
  gap: 20px;
}
.ham {
  display: none;
}

/* header css */

/* Hero Section CSS */
.bio-img img {
  position: relative;
  width: 500px;
  animation-name: reveal;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes reveal {
  0% {
    left: -500px;
  }
  100% {
    left: 0px;
  }
}
#about-me {
  display: flex;
}
.bio-details {
  position: relative;
  padding: 50px;
  animation-name: reveal-right;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
@keyframes reveal-right {
  0% {
    right: -800px;
  }
  100% {
    right: 0px;
  }
}
.bio-details img {
  width: 80px;
}
.bio-details h1 {
  color: #7600bc;
  font-family: sans-serif;
  font-size: 40px;
}
.bio-details div {
  display: flex;
  margin-bottom: 20px;
}
.bio-details p {
  font-size: 20px;
  font-family: sans-serif;
  text-align: justify;
}

/*  skills section css */
#skills {
  margin: 0px 100px;
}
#skills h1 {
  color: #7600bc;
  font-size: 36px;
  font-family: sans-serif;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
  row-gap: 20px;
  align-items: center;
  width: 200px;
  height: 350px;
  border-radius: 30px;
  animation-name: grow;
  box-shadow: 0px 0px 5px 0px;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  text-align: center;
}
.skill-box:hover {
  transform: scale(1.1);
  background-color: violet;
  box-shadow: 0px 0px 10px 5px purple;
}
@keyframes grow {
  0% {
    transform: scale();
  }
  100% {
    transform: scale(1);
  }
}
.skill-box img {
  width: 60%;
}
.skill-box h4 {
  font-size: 28px;
  font-family: sans-serif;
}
.skill-box p {
  font-size: 20px;
  font-family: sans-serif;
  font-style: italic;
}
/* Projects */
#projects {
  margin: 0px 100px;
}
#projects h1 {
  color: #7600bc;
  font-size: 32px;
  font-family: sans-serif;
}
.projects-container {
  margin: 30px 60px;
}
.projects-container div {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.projects-container div h3 {
  font-family: sans-serif;
  font-size: 26px;
}
.projects-container div p {
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px 20px;
  text-align: justify;
}

/* Recommedations section */
#recommendations {
  margin: 0px 100px;
}
#recommendations h1 {
  color: #7600bc;
  font-size: 32px;
  font-family: sans-serif;
}
.rec-box {
  border: 1px solid black;
  width: 200px;
  height: 150px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 18px;
  text-align: justify;
  padding: 20px;
  border-radius: 16px;
  margin: 10px;
}
.rec-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
}

form {
  margin: 30px 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
input {
  height: 30px;
  width: 600px;
}
textarea {
  height: 100px;
  width: 600px;
}

.btn {
  border: 1px solid #7600bc;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
.btn:hover {
  background-color: #7600bc;
  color: white;
}

footer {
  font-family: sans-serif;
  font-size: 20px;
  margin: 20px 200px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #7600bc;
}
.btn-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #7600bc;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 5px 6px rgba(209, 208, 208, 0.528);
  position: fixed;
  margin-left: 950px;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bounce {
  0% {
    bottom: 20px;
    right: 20px;
  }
  100% {
    bottom: 200px;
    right: 20px;
  }
}

.btn-bottom a {
  text-decoration: none;
  font-size: 50px;
}
input:focus {
  background-color: rgb(250, 250, 250);
  border: 5px solid #7dc2f6;
  border-radius: 16px;
  font-size: 20px;
}
/*Media Queries-1*/

@media screen and (min-width: 481px) and (max-width: 768px) {
  .topmenu {
    display: none;
  }
  /*.topmenu:hover{
    display: flex;
    flex-direction: row;
    position: static;
    background: none;
  }*/
  .ham {
    display: block;
    /*display: none;*/
    cursor: pointer;
  }
  .rect {
    background-color: white;
    width: 30px;
    height: 5px;
    margin: 3px;
    display: flex;
    right: 10px;
    justify-content: end;
  }
  .bio-img {
    width: 40px;
  }
  .bio-details h1 {
    font-size: 26px;
    margin-top: 350px;
    text-align: center;
  }
  .bio-details p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }
  .bio-details img {
    margin-top: 330px;
    width: 80px;
  }
  #skills h1 {
    font-size: 26px;
  }
  .skills-container {
    width: 200px;
  }
  .skill-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    row-gap: 20px;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px;
  }
  .skill-box {
    img {
      width: 98px;
    }
  }
  .skill-box {
    h4 {
      font-size: 20px;
      font-family: sans-serif;
    }
  }
  .skill-box {
    p {
      font-size: 20px;
      font-family: sans-serif;
      font-style: italic;
      text-align: center;
    }
  }

  #projects {
    h1 {
      font-size: 26px;
      text-align: center;
    }
    h3 {
      font-size: 20px;
      text-align: center;
    }
    p {
      font-family: sans-serif;
      font-size: 16px;
      margin: 10px 10px;
      text-align: justify;
    }
  }
  #recommendations {
    h1 {
      font-size: 26px;
      text-align: center;
    }
  }
  .rec-box {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px;
    text-align: justify;
    padding: 20px;
    border-radius: 16px;
    margin: 10px;
  }
  form {
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  input {
    height: 20px;
    width: 400px;
  }
  textarea {
    height: 70px;
    width: 400px;
  }

  .btn {
    border: 1px solid #7600bc;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .btn:hover {
    background-color: #7600bc;
    color: white;
  }

  footer {
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #7600bc;
  }
  .btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #7600bc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 5px 6px rgba(209, 208, 208, 0.528);
    position: fixed;
    margin-left: 950px;
  }
  .btn-bottom a {
    text-decoration: none;
    font-size: 30px;
  }
}

/* Media Queries-2*/
@media screen and (min-width: 0px) and (max-width: 480px) {
  .topmenu {
    /*display: flex;
    flex-direction: row;
    position: static;
    background: none;*/
    display: none;
  }
  .ham {
    display: block;
    /*display: none;*/
    cursor: pointer;
  }
  .rect {
    background-color: white;
    width: 30px;
    height: 5px;
    margin: 3px;
    display: flex;
    right: 10px;
    justify-content: end;
  }
  .bio-img {
    width: 40px;
  }
  .bio-details h1 {
    font-size: 26px;
    margin-top: 350px;
    text-align: center;
  }
  .bio-details p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }
  .bio-details img {
    margin-top: 330px;
    width: 80px;
  }
  #skills h1 {
    font-size: 26px;
  }
  .skills-container {
    width: 200px;
  }
  .skill-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    row-gap: 20px;
    align-items: center;
    margin: 10px;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px;
  }
  .skill-box {
    img {
      width: 98px;
    }
  }
  .skill-box {
    h4 {
      font-size: 20px;
      font-family: sans-serif;
    }
  }
  .skill-box {
    p {
      font-size: 20px;
      font-family: sans-serif;
      font-style: italic;
      text-align: center;
    }
  }

  #projects {
    h1 {
      font-size: 26px;
      text-align: center;
    }
    h3 {
      font-size: 20px;
      text-align: center;
    }
    p {
      font-family: sans-serif;
      font-size: 20px;
      margin: 20px 20px;
      text-align: center;
    }
  }
  #recommendations {
    h1 {
      font-size: 26px;
      text-align: center;
    }
  }
  .rec-box {
    border: 1px solid black;
    width: 200px;
    height: 150px;
    font-family: sans-serif;
    font-style: italic;
    font-size: 14px;
    text-align: justify;
    padding: 20px;
    border-radius: 16px;
    margin: 10px;
  }
  form {
    margin: 30px 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
  }
  input {
    height: 20px;
    width: 400px;
  }
  textarea {
    height: 70px;
    width: 400px;
  }

  .btn {
    border: 1px solid #7600bc;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .btn:hover {
    background-color: #7600bc;
    color: white;
  }

  footer {
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 20px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #7600bc;
  }
  .btn-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #7600bc;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 5px 6px rgba(209, 208, 208, 0.528);
    position: fixed;
    margin-left: 950px;
  }
  .btn-bottom a {
    text-decoration: none;
    font-size: 30px;
  }
}
